.footer{
  background: black;
  color: white;
}


.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #1d1e20;
}

.menu{
  display: flex;
  
}
.menu li {
  margin-left: 10px;
}
.menu li a{
  display: block;
  padding: 10px;
}